*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Sofia Pro", sans-serif;
	}

.stroke {
        color: black;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
    }

h1 {
    font-size:2.2em;
    text-align: right;
    font-weight: bold;
}

p {
    color: #FFF;
}
/**** HEADER SECTION ****/

.logo img {
    width: 20%;
    position: absolute;
}

header{
    width: 100vw;
    position: fixed;
    padding: 20px 30px;
    z-index: 1000;
    text-rendering: optimizeLegibility;
}



/***** NAVIGATION *****/

.burger-menu {
    font-size: 26px;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    top: 10px;
    right: 30px;
    color: #FF5B91;
    border: 2px solid #FF5B91;
    padding: 0 8px;
    border-radius: 5px;
}

.main-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FFF;


}

.main-nav a {
    padding: 20px 32px 10px 8px;
    text-decoration: none;
    text-align: right;
    font-size: 20px;
    color: #FF5B91;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}


.main-nav a:active {
    color: #f1f1f1;
    border-right: 3px solid #FFFFFF;

}

.main-nav a:first-child {
padding-top: 2px;
}

.closebtn {
    font-size: 40px;
    cursor: pointer;
    color: #FF5B91;
    border: 2px solid #FF5B91;
    padding: 1px 10px;
    border-radius: 5px;

}

.open {
    width: 100%;
}

.close {
    width: 0;
}


/****DESCRIPTION SECTION MOBILE****/

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 3em;
    padding-bottom: 2em;

    max-width: 600px !important;
    width: 100%;
    min-height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0;

}


.container div:nth-child(1) {
        background-color: darkgray;
         grid-column: 1/ span 2;
        grid-row: 1/ span 12;
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    }

.container div:nth-child(2) {
    display: block;
    grid-column: 1/ span 2;
    grid-row: 1/ span 1;
    z-index: 2;
    margin:auto;
    }

.container div:nth-child(3){
    grid-column: 1/ span 2;
    grid-row: 4/ span 7;
    padding: 1em;
}

.container div:nth-child(5){
    background-color: lightslategray;
    grid-column: 1/ span 2;
    grid-row: 13/ span 7;
    padding: 1em;

}

img {
    display: block;
    margin: auto;
}

/****************** TABLET **************************/

@media only screen and (min-width: 30em) {

/****DESCRIPTION SECTION TABLET****/

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 15em;
    padding-bottom: 2em;
    grid-gap: .5em;
    max-width: 600px !important;
    width: 100%;
    min-height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1em 1em 1em;

}
}



/***************** DESKTOP ***********************/

@media only screen and (min-width:60em) {

    h1 {
        text-align: left;
        font-size: 5em;
    }

    p {

        color: #000;
    }

    .thunder-icon {
        margin-top: 5em;
        width: 20px;
    }
/**** HEADER SECTION ****/

.logo img {
    width: 15%;
    max-width: 300px;
}

    header {
        margin: 1em;
    }



/***** NAVIGATION *****/

.burger-menu {
    display: none;
}



.main-nav {
    display: inline-block;
    opacity: 1;
    height: 120px;
    width: 100%;
     position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: transparent;
    margin: 2em;

}

.nav-left {
    display: inline-block;
    float: right;
}

.main-nav a {
    display: inline-block;
    text-transform: none;

}

.main-nav a:hover {
    color: #fff;


}

.closebtn {
        display: none;
    }


  .cv-btn{
    display: inline-block;
    border: none;
/*    width: 100px;*/
    background: none;
    border-radius: 11px;

    font-size: 15px;
    font-weight: 100;
    vertical-align: middle;
    position: relative;
    z-index: 1;

    border: 2px solid #02B3E2;
    border-radius: 4px;
    padding: 10px;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;

    overflow: hidden;
    -webkit-transition: border-color 0.3s, color 0.3s;
    transition: border-color 0.3s, color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    color: #FF5B91;
    border: 2px solid #FF5B91;
    border-radius: 10px;
    transition: all 0.5s;
}

 .cv-btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: rgba(2,204,186,0.9);
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}


.cv-btn:hover{
    background: #FF5B91;
    color: #fff !important;
}

 .cv-btn:hover::before {
    opacity: 1;
    background-color: white;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    background-color: #FF5B91;
}
nav .cv-btn{
    padding:8px 10px;
    margin: 0;
}


/****DESCRIPTION SECTION DESKTOP****/
    .description {
        background-color: #FFF;
        position:
    }
 .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: 8em;
        margin-top: 1em;
        max-width: 2560px !important;
        width: 100%;
        min-height: 100%;
        margin-right: auto;
        margin-left: auto;
     padding: 0;

    }


.container div:nth-child(1) {
    background-color: gray;
        grid-column: 1/ span 4;
        grid-row: 1/ span 5;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
     margin-left: 1em;
    z-index: 1;
    }

    .container div:nth-child(2){

        grid-column: 2/ span 10;
        grid-row: 1/ span 1;
       z-index: 2;
        margin-top: 4em;
    }

    .container div:nth-child(3){
         grid-column: 5/ span 4;
        grid-row: 2/ span 4;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 1em;
        margin-top: 2em;
    }

    .container div:nth-child(4){
        background-color: gray;
        margin-right: 3em;
          grid-column: 9/ span 4;
        grid-row: 3/ span 5;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 2;
    }

    .container div:nth-child(5){
        margin-top: 6em;
         background-color: lightblue;
          grid-column: 1/ span 12;
        grid-row: 6/ span 4;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }


}
